<!-- Start Preloader -->
<div class="preloader">
  <!--<img src="img/assets/logo.png" class="preloader-logo" alt="preloader-logo">-->
  <div class="spinner"></div>
</div>
<!-- End Preloader -->

<!-- Start Home Revolution Slider -->
<section id="home-revolution-slider">
  <div class="hero">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE 1 -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="/assets/bg_1.jpg" data-delay="10000"  data-saveperformance="on" data-title="Something You Love">
            <img src="/assets/bg_1.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                                                          
            <!-- Home Heading -->
            <div class="tp-caption home-heading"
                data-x="center"  
                data-y="230"
                data-speed="1200"
                data-start="1100"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <h1 class="op-1"><small>We Are Wunderkind</small><br>Something You Love</h1>
            </div> 
                    
            <!-- Home Subheading -->
            <div class="tp-caption lead"
                data-x="center" 
                data-y="430" 
                data-speed="1200"
                data-start="1350"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="white op-1">We are digital agency that loves crafting beautiful websites with great functionality.</div>
            </div>
            <!-- Home Button -->
            <div class="tp-caption home-button sft fadeout"
                data-x="center" 
                data-y="420" 
                data-speed="1200"
                data-start="1550"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="home-btn">
                    <h4 class="btn-home"><a href="/index">시작하기</a></h4>
                </div>
            </div> 
          </li>
                  
          <!-- SLIDE 2 -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="/assets/bg_2.jpg" data-delay="10000"  data-saveperformance="on" data-title="We Make Brands Shine">
            <img src="/assets/bg_2.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                                            
            <!-- Home Heading -->
            <div class="tp-caption home-heading"
                data-x="center"  
                data-y="230"
                data-speed="1200"
                data-start="1100"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <h1 class="op-1"><small>We Are Wunderkind</small><br>We Make Brands Shine</h1>
            </div> 
        
            <!-- Home Subheading -->
            <div class="tp-caption lead"
                data-x="center" 
                data-y="430" 
                data-speed="1200"
                data-start="1350"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="white op-1">We do innovation, creativity, effectiveness and all that with love.</div>
            </div>
            <!-- Home Button -->
            <div class="tp-caption home-button sft fadeout"
                data-x="center" 
                data-y="420" 
                data-speed="1200"
                data-start="1550"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="home-btn">
                    <h4 class="btn-home"><a href="/index">시작하기</a></h4>
                </div>
            </div> 
          </li>
                  
          <!-- SLIDE 3 -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="/assets/bg_4.jpg" data-delay="10000"  data-saveperformance="on" data-title="Best Digital Agency">
            <img src="/assets/bg_4.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                                            
            <!-- Home Heading -->
            <div class="tp-caption home-heading"
                data-x="center"  
                data-y="230"
                data-speed="1200"
                data-start="1100"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <h1 class="op-1"><small>We Are Wunderkind</small><br>Best Digital Agency</h1>
            </div> 
        
            <!-- Home Subheading -->
            <div class="tp-caption lead"
                data-x="center" 
                data-y="430" 
                data-speed="1200"
                data-start="1350"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="white op-1">Wunderkind was honored as best agency at EdAwards in New York.</div>
            </div>
            <!-- Home Button -->
            <div class="tp-caption home-button sft fadeout"
                data-x="center" 
                data-y="420" 
                data-speed="1200"
                data-start="1550"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="home-btn">
                    <h4 class="btn-home"><a href="/index">시작하기</a></h4>
                </div>
            </div> 
          </li>
                  
          <!-- SLIDE 4 -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="/assets/bg_6.jpg" data-delay="10000"  data-saveperformance="on" data-title="Nice to Meet You">
            <img src="/assets/bg_6.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                                                
            <!-- Home Heading -->
            <div class="tp-caption home-heading fadeout"
                data-x="center"  
                data-y="230"
                data-speed="1200"
                data-start="1100"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <h1 class="op-1"><small>We Are Wunderkind</small><br>Nice to Meet You</h1>
            </div> 
        
            <!-- Home Subheading -->
            <div class="tp-caption lead fadeout"
                data-x="center" 
                data-y="430" 
                data-speed="1200"
                data-start="1350"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="white op-1">Let's meet up and see if there's chemistry!</div>
            </div>
            <!-- Home Button -->
            <div class="tp-caption home-button fadeout"
                data-x="center" 
                data-y="420" 
                data-speed="1200"
                data-start="1550"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                <div class="home-btn">
                    <h4 class="btn-home"><a href="/index">시작하기</a></h4>
                </div>
            </div> 
          </li>
        </ul>
        <div class="tp-bannertimer"></div>	
      </div>
  
      <div class="home-bottom">
        <div class="container text-center">
          <div class="move bounce">
            <a href="#features" class="ion-ios-arrow-down btn-scroll"></a>
          </div>  
        </div> 
      </div>
    </div>	
  </div>
</section>
<!-- End Home Revolution Slider -->